name: test
on:
- pull_request
jobs:
  linux:
    strategy:
      fail-fast: false
      matrix:
        dbimage:
          - mongo
        runner:
          # 5.2 Stable
          - swift:5.2-xenial
          - swift:5.2-bionic
          # 5.2 Unstable
          - swiftlang/swift:nightly-5.2-xenial
          - swiftlang/swift:nightly-5.2-bionic
          # 5.3 Unstable
          - swiftlang/swift:nightly-5.3-xenial
          - swiftlang/swift:nightly-5.3-bionic
          # Master Unsable
          - swiftlang/swift:nightly-master-xenial
          - swiftlang/swift:nightly-master-bionic
          - swiftlang/swift:nightly-master-focal
          - swiftlang/swift:nightly-master-centos8
          - swiftlang/swift:nightly-master-amazonlinux2
        include:
          - runner: swiftlang/swift:nightly-master-centos8
            installcmd: dnf install -y zlib-devel
          - runner: swiftlang/swift:nightly-master-amazonlinux2
            installcmd: yum install -y zlib-devel
        exclude:
          - runner: swiftlang/swift:nightly-master-amazonlinux2
            dbimage: mysql:8.0
    container: ${{ matrix.runner }}
    runs-on: ubuntu-latest
    services:
      mongo-a:
        image: ${{ matrix.dbimage }}
      mongo-b:
        image: ${{ matrix.dbimage }}
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run tests with Thread Sanitizer
        run: swift test --enable-test-discovery --sanitize=thread
        env:
          MONGO_HOSTNAME_A: mongo-a
          MONGO_HOSTNAME_B: mongo-b
